<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
	  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	  http://activemq.apache.org/schema/core
   	http://activemq.apache.org/schema/core/activemq-core-5.15.0.xsd
">
    <!-- 启动自动扫描该包下所有的Bean(例如@Controller) -->
    <context:component-scan base-package="org.ming.humanresource" />
    <!-- 加载配置文件-->
    <context:property-placeholder location="classpath:commonconfig.properties"/>

    <!-- MySQL Config -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
            </props>
        </property>
        <!-- 关联实体 -->
        <property name="annotatedClasses">
            <list>
                <value>org.ming.humanresource.model.AccountInfo</value>
            </list>
        </property>
    </bean>
    <!-- 事务管理 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- ActiveMq Config -->
    <!-- 链接工厂 -->
    <amq:connectionFactory id="activemqConnectionFaction"
                           brokerURL="${mq.url}"
                           userName="${mq.userName}"
                           password="${mq.password}"/>
    <!-- Spring mq 工厂管理-->
    <bean id="jmsConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="activemqConnectionFaction"/>
        <property name="sessionCacheSize" value="${mq.sessionCacheSize}"/>
    </bean>
    <!-- 目标队列 -->
    <bean id="targetQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg>
            <value>humanresource</value>
        </constructor-arg>
    </bean>
    <!-- MQ Service Name -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="defaultDestination" ref="targetQueue"/>
        <property name="receiveTimeout" value="${mq.receiveTimeout}"/>
        <!-- 是否是广播 Topic类型消息 -->
        <property name="pubSubDomain" value="false"/>
    </bean>
    <!-- Redis -->
</beans>